/* Typography
 ***************************/
$-font-size-base: 14px !default;

/* Color
 ***************************/
$-color-text-regular: #606266 !default;
$-color-text-placeholder: #C0C4CC !default;
$-border-color-base: #DCDFE6 !default;
$-color-primary: #409EFF !default;
$-background-color-base: #F5F7FA !default;

/* Border
 ***************************/
$-border-width-base: 1px !default;
$-border-style-base: solid !default;
$-border-radius-base: 4px !default;
$-border-base: $-border-width-base $-border-style-base $-border-color-base !default;
$-border-color-hover: $-color-text-placeholder;
$-border-color-light: #E4E7ED !default;

/* Disabled
 ****************************/
 $-disabled-border-base: $-border-color-light !default;
 $-disabled-fill-base: $-background-color-base !default;
/* Input
 ***************************/
$-input-font-size: $-font-size-base !default;
$-input-font-color: $-color-text-regular !default;
$-input-width: 140px !default;
$-input-height: 40px !default;
$-input-border: $-border-base !default;
$-input-border-radius: $-border-radius-base !default;
$-input-border-color: $-border-color-base !default;
$-input-hover-border: $-border-color-hover !default;
$-input-focus-border: $-color-primary !default;
$-input-disabled-color: $-disabled-border-base !default;
$-input-disabled-fill: $-disabled-fill-base !default;
